[submodule "Input_Validation"]
	path = Input_Validation
	url = https://github.com/slazyslother/Input_Validation.git
[submodule "Input-Validation"]
	path = Input-Validation
	url = git@github.com:slazyslother/Input-Validation.git
[submodule "Utility-Functions"]
	path = Utility-Functions
	url = git@github.com:slazyslother/Utility-Functions.git
[submodule "Rate-Limiting"]
	path = Rate-Limiting
	url = git@github.com:slazyslother/Rate-Limiting.git
[submodule "Password-Management"]
	path = Password-Management
	url = git@github.com:slazyslother/Password-Management.git
[submodule "Restrictions"]
	path = Restrictions
	url = git@github.com:slazyslother/Restrictions.git
[submodule "Session-Management"]
	path = Session-Management
	url = git@github.com:slazyslother/Session-Management.git
[submodule "Database-Operations"]
	path = Database-Operations
	url = git@github.com:slazyslother/Database-Operations.git
[submodule "Security-Measures"]
	path = Security-Measures
	url = git@github.com:slazyslother/Security-Measures.git
[submodule "Account-Suspension-Ban"]
	path = Account-Suspension-Ban
	url = git@github.com:slazyslother/Account-Suspension-Ban.git
[submodule "Account-Activation-Deactivation"]
	path = Account-Activation-Deactivation
	url = git@github.com:slazyslother/Account-Activation-Deactivation.git
[submodule "User-Actions"]
	path = User-Actions
	url = git@github.com:slazyslother/User-Actions.git
[submodule "Token-Service"]
	path = Token-Service
	url = git@github.com:slazyslother/Token-Service.git
[submodule "Notification-Service"]
	path = Notification-Service
	url = git@github.com:slazyslother/Notification-Service.git
[submodule "Api-Gateway"]
	path = Api-Gateway
	url = git@github.com:slazyslother/Api-Gateway.git
[submodule "Authentication-Service"]
	path = Authentication-Service
	url = git@github.com:slazyslother/Authentication-Service.git
[submodule "User-Service"]
	path = User-Service
	url = git@github.com:slazyslother/User-Service.git
